@import './colors.scss';

.body {
    height: 90vh;

    > div {
        padding-left: 8rem;
        padding-top: 12rem;

        > h1 {
            font-size: 3rem;
            color: $dark;
        }

        > p {
            font-size: 1.2rem;
            color: $lightdark;
        }
    }

    > a {
        display: block;
        margin: 2rem 8rem;
        width: 10rem;
        background-color: $orange;
        color: white;
        text-align: center;
        border: none;
        font-size: 1rem;
        border-radius: 10px;
        padding: 0.8rem ;
        cursor: pointer;

        &:hover {
            background-color: $darkorange;
        }
    }
}


@media screen and (max-width:600px) {
    .body {
        > div{
            padding: 4rem 4rem;
        }

        > a {
            margin: -1rem 4rem;
        }
    }
}
