@import "./colors.scss";


nav {
    // height: 2rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
    background-color: white;

    > div {
        display: flex;
        align-items: center;

        > svg {
            color: $orange;
            font-size: 2rem;
        }

        > a {
            padding: 0 1.5rem;
            color: $dark;
            transition: color 0.1s;

            &:hover {
                color: $orange;
            }

            > svg {
                color: $orange;
                font-size: 1.2rem;

                &:hover {
                    color: $darkorange;                
                }
            }
        }   
    }

}

@media screen and (max-width:600px) {
    nav {
        padding: 0.5rem 1rem;

        > div > a {
            padding: 0 0.8rem;
        }
    }
}