@import './colors.scss';

.menuCard {
    // width: 30%;

    > main {
        
        > p {
            font-size: 1.5rem;
        }

        > img {
            width: 300px;
            height: 250px;
            border-radius: 8px;
        }

        > h5 {
            font-size: 1.2rem;
        }

        > button {
            background-color: $orange;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            margin: 1rem 0;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: $darkorange;
            }
        }
    }
}

