@import './colors.scss';

.orderdetails {
    background-color: $lightorange;
    // background-color: white;
    width: 100%;
    padding: 3rem;
    // height: 90vh;

    > main {
        max-width: 600px;
        background-color: white;
        margin: auto;
        padding: 2rem;
        height: fit-content;
        overflow-x: auto;

        > h1 {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5rem;
            ;
        }

        > div {
            margin: 1rem 0;
            > h1 {
                font-size: 22px;
                font-weight: 600
                // padding: 1rem 0;
            }
            > p {
                font-size: 16px;
                display: flex;

                > b {
                    justify-content: space-between;
                    font-weight: 600;
                    color: $dark;
                    padding-right: 1rem;
                }

            }
        }
    }
}